
services/php71/logs/

services/php74/logs/

services/nginx/logs/
services/nginx/conf.d/

.vscode/

.idea/

services/mysql57/data/
services/mysql57/logs/

.env

services/redis6/data/

services/mongodb5/data
